# fly.toml app configuration file generated for better-app on 2026-01-18T08:48:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'better-app'
primary_region = 'sin'

[build]

[env]
  PORT = '8080'
  DATABASE_URL = 'file:/db/db.db'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = 'db_data'
  destination = '/db'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
