service:
  extensions: [jaeger_storage, jaeger_query, healthcheckv2]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [jaeger_storage_exporter]

extensions:
  healthcheckv2:
    use_v2: true
    http:

  jaeger_query:
    storage:
      traces: opensearch
      metrics: opensearch
    ui:
      config_file: /etc/jaeger/ui-config.json

  jaeger_storage:
    backends:
      opensearch: &opensearch_config
        opensearch:
          server_urls:
            - http://opensearch:9200
          indices:
            index_prefix: "jaeger"
            spans:
              date_layout: "2006-01-02"
              rollover_frequency: "day"
              shards: 1
              replicas: 0
            services:
              date_layout: "2006-01-02"
              rollover_frequency: "day"
              shards: 1
              replicas: 0
            dependencies:
              date_layout: "2006-01-02"
              rollover_frequency: "day"
              shards: 1
              replicas: 0
            sampling:
              date_layout: "2006-01-02"
              rollover_frequency: "day"
              shards: 1
              replicas: 0

    metric_backends:
      opensearch: *opensearch_config

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  jaeger_storage_exporter:
    trace_storage: opensearch
