name: Build and Deploy

on:
  push:
    branches: ["main", "test"]
  workflow_dispatch:

jobs:
  deploy-to-fly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Fly CLI
        run: curl -L https://fly.io/install.sh | sh

      - name: Deploy to Fly.io
        run: ~/.fly/bin/flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
